Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.gitignore
mobile/SmartTracking/background-service/
mobile/SmartTracking/app/release
mobile/SmartTracking/app/build