<section class="sidebar" data-ng-controller="appLeftMenuController">
    <ul class="sidebar-menu">
    	<li data-ng-repeat="item in menu" data-ng-class="{ 'treeview' : item.active }" id="{{item.id}}" data-ng-show="item.enable">
    		<a data-ng-click="clickTopItem(item)" class="link-pointer">
                <i class="{{item.class}}"></i>
                <span>{{item.text}}</span>
                <i class="fa pull-right fa-angle-left" data-ng-if="item.children.length > 0"></i>
            </a>
            <ul class="treeview-menu" data-ng-if="item.children.length > 0">
                <li data-ng-repeat="childItem in item.children" data-ng-class="{'active' : childItem.active}" 
                	data-ng-click="clickChildItem(item.children, childItem, $index)" id="{{childItem.id}}" data-ng-show="childItem.enable">
                	<a class="link-pointer"><i class="{{childItem.class}}"></i> {{childItem.text}}</a>
                </li>
	        </ul>
    	</li>
    </ul>
    <div class="credit-panel"><a class="credit" href="http://esoft-tech.info/" target="_blank">Development by Esoft Technology</a></div>
</section>





