<section class="content-header">
	<h1>
		Monitor <small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
		<li >Settings</li>
		<li><a href="#/users"> Monitor</a></li>
		<li class="active">{{btnName}}</li>
	</ol>
</section>
<section class="content">
	<button type="submit" class="btn btn-primary" data-ng-click="backToPrevious()"><i class="fa fa-reply" aria-hidden="true"></i> Back</button>
	<button class="btn" ng-click="isCollapsed = !isCollapsed">Filter</button>
</section>
<section>
	<hr>
	<div class="col-md-12" collapse="isCollapsed">
		<div class="col-md-3">
			<div class="form-group">
				<label>From Date</span></label>
				<div class="input-group">
					<input id="fromDate" type="text" class="form-control" placeholder="Pick from date"
						   onclick="this.setSelectionRange(0, this.value.length)" data-ng-model="obj.fromDate"
						   bootstrap-datepicker data-date-format="yyyy-mm-dd"/>
					<div class="input-group-addon">
						<i class="glyphicon glyphicon-calendar"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>To Date</label>
				<div class="input-group">
					<input id="toDate" type="text" class="form-control" placeholder="Pick to date"
						   onclick="this.setSelectionRange(0, this.value.length)" data-ng-model="obj.toDate"
						   bootstrap-datepicker data-date-format="yyyy-mm-dd"/>
					<div class="input-group-addon">
						<i class="glyphicon glyphicon-calendar"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Staff</label>
				<select multiple data-ng-model="obj.userId" ui-select2 class="form-control" style="padding: 0px;"
						data-placeholder="Select Staff" required>
					<option data-ng-repeat="user in userList | orderBy:'name'" value="{{user.id}}">{{user.fullName}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-3" style="margin-top: 23px;">
			<div class="form-group">
				<button type="submit" class="btn btn-primary" data-ng-click="getData(obj)">Show Data</button>
			</div>
		</div>
	</div>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
				</div>
				<div class="box-body">
					<div id="my-map"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	#my-map
	{
		position: fixed !important;
		height: 65% !important;
		width: 84% !important;
	}
	span.charge-info {
		font-size: 16px;
		color: #507070;
	}
</style>