<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Staff List <small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Staff List</li>
	</ol>
</section>
<section class="content">
	<button type="submit" class="btn btn-primary" data-ng-click="add()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
</section>
<section class="content">
	<div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
					<div class="show-hide-animation" >
						<div class="col-md-6 pull-left">
							<h5 data-ng-show="userList.length > 0">{{ pageItemText }}</h5>
							<h5 data-ng-show="userList.length == 0">No Staff is found</h5>
						</div>
						<div class="col-md-6 pull-right  text-right top-paginationBox">
							<pagination data-ng-model="currentPage" data-total-items="dataListSize"
							data-boundary-links="true" data-max-size="maxPaginationSize" data-items-per-page="itemsPerPage"></pagination>
						</div>
					</div>
				</div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                    	<thead>
	                        <tr>
	                            <th class="text-right">#</th>
								<th class="text-left">Photo</th>
								<th class="text-left">Full Name</th>
								<th class="text-left">Device ID</th>
								<th class="text-left">Designation</th>
	                            <th class="text-left">User ID</th>
	                            <th class="text-left">Contact#</th>
	                            <th class="text-left">SyncLoc In Min</th>
	                            <th class="text-left">Action</th>
	                         </tr>
                    	</thead>
                        <tbody>
	                        <tr data-ng-repeat="user in staffList ">
								<td class="text-right">{{$index+1}}</td>
								<td class=""><img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"></td>
								<td class="text-left">{{user.fullName}}</td>
								<td class="text-left">{{user.deviceMac}}</td>
								<td class="text-left">{{user.designation}}</td>
								<td class="text-left">{{user.userName}}</td>
								<td class="text-left">{{user.contact}}</td>
								<td class="text-left">{{user.syncLocInMin}}</td>
								<td ng-class="{'Active' :'text-left text-success', 'Inactive':'text-left text-danger'}[user.status]">{{user.status}}</td>
								<td class="text-left">
									<span>
										<button type="submit" class="btn btn-success" data-ng-click="editObj(user.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
									</span>
								</td>
							</tr>
	                    </tbody>
                    </table>
                </div>
            </div>
        </div>
		<div class="show-hide-animation" >
			<div class="col-md-6 pull-left">
				<h5 data-ng-show="userList.length > 0">{{ pageItemText }}</h5>
				<h5 data-ng-show="userList.length == 0">No User is found</h5>
			</div>
			<div class="col-md-6 pull-right  text-right top-paginationBox">
				<pagination data-ng-model="currentPage" data-total-items="dataListSize"
				data-boundary-links="true" data-max-size="maxPaginationSize" data-items-per-page="itemsPerPage"></pagination>
			</div>
		</div>
    </div>
</section>



