<section class="content-header">
	<h1>
		Manage Staff <small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
		<li >Settings</li>
		<li><a href="#/users"> Manage Staff</a></li>
		<li class="active">{{btnName}}</li>
	</ol>
</section>
<section class="content">
	<button type="submit" class="btn btn-primary" data-ng-click="backToPrevious()"><i class="fa fa-reply" aria-hidden="true"></i> Back</button>
</section>
<section class="content">
	<div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Manage Staff</h3>
                </div>
                <div class="box-body">
					<form>
						<div class="col-md-6">
							<div class="form-group">
								<label>Full Name<span class="mandatory">*</span></label>
								<input type="text" class="form-control" placeholder="Enter Full Name" data-ng-model="obj.fullName" />
							</div><div class="form-group">
							<label>Contact No<span class="mandatory">*</span></label>
							<input type="text" class="form-control" placeholder="Enter Contact No" data-ng-model="obj.contactNo" />
						</div>
							<div class="form-group">
								<label>Device ID<span class="mandatory">*</span></label>
								<input type="text" class="form-control" placeholder="Enter Contact No" data-ng-model="obj.deviceMac" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Status<span class="mandatory">*</span></label>
								<select data-ng-model="obj.status" ui-select2 class="form-control" style="padding: 0px;"
										data-placeholder="Select a status" required>
									<option></option>
									<option ng-selected="{{status.id === obj.status}}" data-ng-repeat="status in statusList | orderBy:'name'" value="{{status.value}}">{{status.key}}
									</option>
								</select>
							</div>
							<div class="form-group">
								<label>Designation</label>
								<input type="text" class="form-control" placeholder="Enter Designation" data-ng-model="obj.designation" />
							</div>
							<div class="form-group">
								<label>Sync (In Min)</label>
								<input type="text" class="form-control" placeholder="Enter Sync Location In Min" data-ng-model="obj.syncLocInMin" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<div class="fileinput-preview thumbnail" style="width: 150px; height: 150px;">
									<img id="profilePic" data-ng-src="{{obj.imagePath}}" width="148px" height="148px" />
								</div>
								<span class="btn btn-default btn-file">
									<span class="fileinput-new">Image</span>
									<input type="file" ng-file-select name="upload" accept="image/*" ng-file-change="uploadPic($files)" ngf-max-size="2M" />
								</span>
							</div>
						</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary" data-ng-click="saveOrUpdate(obj)">{{btnName}}</button>
								<button class="btn btn-default" data-ng-click="backToPrevious()">Cancel</button>
							</div>
                	</form>
				</div>
            </div>
        </div>
    </div>
</section>